<!-- <h1> This is new prj</h1> -->
<!-- <h2>Test Demo</h2> -->
<!-- <h1 style="color: black;">{{title}}</h1>
<ul class="heroes">
    <li *ngFor="let hero of heroes;">
        <div  (click)="onSelect(hero.name)" style="cursor: pointer;">
            <span>{{hero.id}}</span>&nbsp;&nbsp;
            <span class="name">{{hero.name}}</span>
        </div>
    </li>
  </ul>
 My Hero is {{selectedHero}} -->
 <!-- <h1>This is App Component</h1> -->
 <router-outlet></router-outlet> 

<!-- <ng-container *ngIf="data && data.length > 0;">
    

    <div class="card">
        <div class="table-responsive mt-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>UserId</th>
                    <th>title</th>
                    <th>body</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{ item.id }}</td>
                        <td>{{ item.userId }}</td>
                        <td>  {{ item.title }}</td>
                        <td>{{ item.body }}</td> 
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container> -->