<!-- <h1> This is new prj</h1> -->

<ng-container *ngIf="data && data.length > 0;">
    <!-- <div class="row mt-3">
        <div class="col">
            <label class="totalpage">Page {{ page }} Of {{ collectionSize }} jobseekers </label>
        </div>
    </div> -->

    <div class="card">
        <div class="table-responsive mt-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>UserId</th>
                    <th>title</th>
                    <th>body</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{ item.id }}</td>
                        <td>{{ item.userId }}</td>
                        <td>  {{ item.title }}</td>
                        <td>{{ item.body }}</td> 
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>